# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# additional directories
rescue-backup/

#various caches
fp-info-cache
*-cache.lib

# kicad 6 temporaries and local settings
*-backups/
*.kicad_prl

# kicad outputs
plots/
plots-*/
*_plots_*/
*_plots/
*.zip
